.bodyPreset {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.imageBox {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 2/1;
  background-color: rgb(202, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(135, 135, 135);
  flex-shrink: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  container-type: inline-size;
}

.postHeader {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.postTextArea {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  gap: 10px;
  width: 100%;
  max-width: 600;
  color: black;
}

.categoryTag {
  background-color: rgb(213, 213, 213);
  border-radius: 50px;
  padding: 4px 12px;
  font-size: 14px;
  margin-left: 10px;
}

.postTitle {
  font-weight: bolder;
  color: black;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.postContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 0;
  text-align: left;
}

.goBackHome {
  color: blue;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .bodyPreset {
    width: 90%;
  }
  .postTextArea {
    width: 400px;
  }
}

.imageBoxText {
  white-space: nowrap;
  font-size: 20cqw;
}

.errorText {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}
